body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: black;
  }

  canvas {
    position: absolute;
    /* justify-content: center; */
    /* opacity: 0.2; */
  }
  #dimmer {
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.6;
      position: absolute;    
      z-index: 1;
  }
  #pointer {
      width: 44px;
      height: 44px;
      border-radius: 22px;
      background-color: red;
      z-index: 2;
      position: absolute;
  }
  #targetbox{
      position: absolute; /*don't change*/
      left: 0px;
      top: 0px;
      width: 200px;
      height: 200px;
      border-radius: 30px;
      background: transparent;
      border-style: solid;
      border-color: blue;
      border-width: 10px;
  }

  video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
  }